/* Control Center */

.control-center-window {
    background-color: #1e1e2e;
    border-radius: 10px;
}

.control-center-box {
    padding: 10px;
}

.control-center-button {
    border-radius: 20px;
    padding: 10px;
}

.control-center-button.connected {
    background-color: rgba(24, 113, 229, 0.3);
}

.network-ctl-connected {
    font-size: smaller;
}

.network-ctl-button-label {
    font-size: larger;
    font-weight: 600;
}

/* End of Control Center */

/* Notifications */

.notification-box {
    border-radius: 10px;
}

.notification-popup-box {
    border-radius: 10px;
    background-color: #1e1e2e;
    padding: 10px;

    /* margin: 10px; */
}

.notification-title {
    font-size: larger;
    font-weight: 600;
}

.notification-description-box {
    min-height: 50px;
}

.notification-description-label {
    font-size: smaller;
}

.notification-action-button {
    border-radius: 30px;
}

/* Alias "NotificationList" */
.control-center-box-center {
    background-color: rgba(30, 30, 46, 0.6);
    border: 2px solid rgba(24, 113, 229, 0.3);
    border-radius: 10px;
    padding: 10px
}

.notification-close-button {
    background-color: transparent;
}

/* End of Notifications */

/* Topbar */
.topbar-window {
    background-color: rgba(30, 30, 46, 0.6);
    background-size: cover;
    border-radius: 10px;
    /* backdrop-filter: blur(5px); */
}

.window-name {
    font-size: 13px;
    font-weight: 700;
}

.topbar-box {
    /* Top Right Bottom Left */
    padding: 6px 10px 6px 10px;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 4px; */

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.topbar-control-buttons-toggler {
    border-radius: 6px;
    background-color: transparent; 
}

.topbar-control-buttons-toggler:hover {
    background-color: rgba(30, 30, 46, 0.6)
}

/* Workspace */

.topbar-workspaces-box {
    background-color: rgba(30, 30, 46, 0.6);
    border-radius: 10px;
}

.topbar-workspace-button {
    border-radius: 10px;
    background-color: transparent; 
    transition: all 0.5s;
}

.topbar-workspace-button:hover {
    background-color: rgba(24, 113, 229, 0.3);
}

.btt-circle {
    background-color: #eff1f5;
    /* Top Right Bottom Left */
    margin: 5px 1px 5px 1px;
    border-radius: 10px;
    transition: background-color 0.4s;
}

.btt-circle.active {
    background-color: rgba(24, 113, 229, 0.6);
}

/* End of workspace */



/* Music Controller */
.music-status {
    border-radius: 6px;

    background: linear-gradient(to bottom right, #1871E5,#014CFF);
    transition: all 0.5s;
}

.music-status:hover {
    background: linear-gradient(to bottom right, #1c1c46,#5b2755);
}

.music-status-label {
    font-size: smaller;
}

.music-ctl-window {
    background-color: #1e1e2e;
    border-radius: 10px;
}

.music-ctl-box {
    padding: 10px;
    margin: 10px
}

.music-ctl-info {
    /* background-color: rgba(30, 30, 46, 0.6); */
    border-radius: 6px;
    padding: 4px;
}

.music-ctl-info-title {
    font-size: larger;
    font-weight: 800;
    padding-right: 80px;
}

.music-ctl-info-title.truncated {
    font-size: x-large;
}

.music-ctl-info-artist {
    font-size: smaller;
    font-weight: 500;
}

.music-ctl-controller-button {
    border-radius: 20px;
    background-color: rgba(30, 30, 46, 0.3);
}

.music-ctl-position-slider {
    border-radius: 0;
}

/* End of Music Controller */